@import "../../../../../theme/mixins.scss";

.form {
  text-align: center;
}

.form :global(.ant-form-item) {
  margin-bottom: 16px !important;
}

.btn {
  flex: 0.1;
  background-color: var(--bg-btn);
  font-size: 14px;
  font-weight: 600;
  height: 64px;
  width: 100%;
  line-height: 17.6px;
  border: none !important;
  color: var(--white) !important;
  border-radius: 16px !important;

  @include responsive(averageTablet) {
    width: 100%;
  }

  &:hover {
    background-color: var(--bg-btn-hover);
  }
  &:active {
    background-color: var(--bg-btn-click);
  }
}

.cover {
  min-height: 120px !important;
  padding: 20px;
}
